# Compiled class files
*.class

# Log files
*.log

# Project folders
out/
bin/

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionary.xml
.idea/shelf/
*.iws

# OS-specific files
.DS_Store
Thumbs.db
